/[a-zA-Z0-9_-]*.aux
/[a-zA-Z0-9_-]*.log
/[a-zA-Z0-9_-]*.nav
/[a-zA-Z0-9_-]*.out
/[a-zA-Z0-9_-]*.pdf
/[a-zA-Z0-9_-]*.snm
/[a-zA-Z0-9_-]*.toc
/[a-zA-Z0-9_-]*.vrb
/_minted-[a-zA-Z0-9_-]*/
/tmp.sources.*/
